.header {
    width: 1052px;
    height: 105px;
    margin: 92px 24px 96px;
    display: grid;
    grid-template-columns: 419px 149px 220px;
    align-items: center;
}
.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-left: 26px;
}
.header__links-list-item {
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__link_active {
    text-decoration: none;
}
.header__link {
    text-decoration: underline;
    text-underline-offset: 5px;
}
a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.header__logo {
    align-self: center;
    padding-left: 36px;
}
.header__logo-image {
    width: 148px;
    height: 105px;
}
address {
    display: block;
    text-align: left;
    min-width: 240.52px;
    font-family: "Raleway", "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.header__address {
    grid-column-start: 4;
}
.cover {
    position: relative;
    padding: 165px 50px 50px 50px;
    background-image: url(./../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    inset: 0;
    width: 1100px;
    height: 755px;
}
.overlay {
    position: absolute;
    background: #000000;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.cover__title {
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 115px;
    letter-spacing: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}
.aligned-text {
    display: block;
}
.aligned-text_center {
    text-align: center;
    line-height: 1;
}
.aligned-text_right {
    text-align: end;
    line-height: 1;
}
.letter-spacing-extended {
    letter-spacing: 60px;
}
.no-letter-spacing {
    letter-spacing: normal;
}
.cover__description {
    font-family: "Raleway", "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-size: 22px;
    word-spacing: 0.8em;
    padding: 136px 0 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 79px;
    z-index: 1;
}
.cover__description-text {
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    word-spacing: 18px;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.bet-button {
    border: 1px solid #ffffff;
    padding: 14px 32px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}
.lots {
    width: 1052px;
    height: 692px;
    margin: 179px 24px 146px;
}
.lots__heading {
    font-family: "Raleway", "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 40px;
}
.lots__card-list {
    padding-top: 27px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-grow: 1;
}
.lots__card-list-item {
    position: relative;
    width: 334px;
    min-height: 563px;
    flex-grow: 1;
}
.card-link {
    display: block;
    list-style: none;
    height: 100%;
}
.card {
    height: 100%;
    width: 100%;
    z-index: -1;
}
.card_type_film {
    background-image: url(./../images/card-lot-01.jpg);
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 51px 40px 48px;
    display: flex;
    flex-direction: column;
    gap: 238px;
}
.card_type_book {
    background-image: url(./../images/card-lot-02.jpg);
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 51px 40px 48px;
    display: flex;
    flex-direction: column;
}
.card_type_picture {
    background-image: url(./../images/card-lot-03.jpg);
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 51px 40px 48px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.card__title {
    font-family: "Raleway", "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
}
.card__text {
    font-family: "Raleway", "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    z-index: 1;
    align-self: self-start;
}
.lots__look-more-link {
    text-decoration: underline;
    font-family: "Raleway", "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    display: block;
    margin: 30px 0 0 40px;
    text-underline-position: under;
    width: fit-content;
}
.about {
    width: 1052px;
    height: 595px;
    margin: 0 24px 180px;
}
.grid {
    display: grid;
    width: 1052px;
    margin: 0 auto;
    grid-gap: 25px;
    grid-template-columns: 334px auto;
    align-items: end;
}
.about__column {
    align-items: center;
    justify-items: center;
}
.about__column__logo {
    padding-bottom: 320px;
    padding-top: 35px;
}
.about__logo {
    width: 240px;
    height: 240px;
    background: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.about__logo-image {
    width: 148px;
    height: 114px;
}
.about__column__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.about__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 76px;
}
.about__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.about__text_letter-spacing {
    letter-spacing: 0.01em;
}
.footer {
    width: 1000px;
    height: 98px;
    margin: 0 auto 88px;
    display: grid;
    grid-template-columns: auto 149px auto;
    gap: 185px;
    align-items: start;
}
.footer__address {
    align-items: center;
    justify-items: left;
}
.footer__link {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.footer__menu {
    text-align: center;
}
.footer__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__menu-list-item {
    text-decoration: underline;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
}
.footer__social-icon {
    height: 48px;
    width: 48px;
}